/* webfont */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

.nexon {
    font-family: 'NexonLv1Gothic';
    font-weight: 400;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

em {
    font-style: normal;
}

.blind {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 20px;
}

/* common */
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
    text-align: center;
}

.section>h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.section>p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 70px;
    text-align: center;
    color: #777;
}

.section span {
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
}